* {
    box-sizing: border-box;
}
body {
    background-color: #b2b2b2;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 1em;
    color: lightgray;
    margin: 0;
}

h1 a {
    color: lightgray;
    text-decoration: none;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

.top_section {
    background-color: #323232;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 10px;
}

.grid-item {
    text-align: left;
}

.nav_part {
    position: fixed;
    background-color: dimgrey;
    margin: 3em 0 0 0;
    left: 10%;
}

.nav_part ol {
    list-style-type: none;
    padding: inherit;
}

.nav_part li {
    padding: 1em 2em;
    text-align: center;
}

.nav_part a {
    color: lightgrey;
    text-decoration: none;
    font-size: 1.2em;
}

.nav_part a li {
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
}

.nav_part a li:hover {
    border-top: 2px grey solid;
    border-bottom: 2px grey solid;
}

.main_part {
    padding: 0 5%;
}

section.main {
    text-align: center;
}

article.card {
    display: inline-block;
}

article.card img {
    width: 12em;
}

article.card h3 {
    text-align: center;
    margin: .3em 0 0 0;
}

article.card {
    margin: 3em;
}

section.main a {
    text-decoration: none;
    color: black;
}

#mid_section .head_title {
    text-align: center;
    color: dimgray;
}


